* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  overflow-x: hidden;
}

.container {
  display: flex;
  justify-content: space-around;
  background-color: #133461;
  align-items: center;
  color: white;
  max-width: 100%;
  padding: 0.3rem;
}

.left {
  font-size: 3rem;
  font-weight: 700;
  cursor: pointer;
  margin-left: 3rem;
}

.right {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  margin-top: 1rem;
  cursor: pointer;
  margin-right: 3rem;
  font-size: 0.7rem;
}

/* CONTAİNER 2 */

.container2 {
  background-color: #eaeff7;
  align-items: center;
  display: flex;
  width: 100%;
  padding: 0.3rem;
}

.down {
  display: flex;
  margin-left: 13rem;
  padding: 0.1rem;
  overflow-x: hidden;
  max-width: 100%;
}

.down1 {
  background-color: #0f4b9d;
  color: white;
  font-size: 0.7rem;
  padding: 0.3rem;
  margin: 0.2rem;
  cursor: pointer;
  border-bottom: 1px dashed transparent;
}

.down2 {
  margin-right: 0.3rem;
  cursor: pointer;
  border-bottom: 1px dashed #104288;
}

.home {
  color: #7e91ac;
  text-align: center;
  align-items: center;
  margin: auto;
  border-bottom: 1px dashed transparent;
}

.up {
  border-bottom: 1px dashed transparent;
}

.accordion-list {
  width: 100%;
  padding: 0;
  margin-left: 14.8rem;
  list-style-type: none;
}

.accordion-list li {
  border-bottom: 1px solid #7e91ac;
  padding: 4px 0;
  width: 18rem;
  background-color: #eaeff7;
  font-weight: 700;
  color: #133461;
}

.accordion-list li:last-child {
  border-bottom: none;
}

.close {
  color: #0f4b9d;
  margin-left: 9rem;
  font-size: 0.6rem;
  cursor: pointer;
  margin-top: 0.4rem;
}

/* CONTAİNER3  */

.container3 {
  background-color: #f5f8fb;
  box-shadow: rgb(169, 169, 226) 0px 25px 20px -20px;
}
.inputs {
  position: relative;
}
.input {
  text-align: left;
  padding: 0.5rem;
  border: none;
  width: 66vw;
  margin: 1rem 15rem;
}
.input::placeholder {
  color: #385d92;
}
.search {
  position: absolute;
  right: 13rem;
  top: 1.3rem;
}
.filter1 {
  width: 70vw;
  margin: 1rem 1rem;
  color: #a4cafd;
}
.filter-slider {
  width: 70vw;
  margin: 1rem 14rem;
  overflow: hidden;
  background-color: #f5f8fb;
}

.slider {
  display: flex;
  white-space: nowrap;
  padding: 1rem;
  gap: 1rem;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.filter {
  min-width: 210px;
  background-color: white;
  color: #104288;
  border: 2px solid #90befe;
  padding: 0.5rem;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  position: relative;
  border-radius: 8px;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-button:hover {
  color: #000;
}
.clear {
  display: flex;
  justify-content: end;
  margin-right: 12rem;
  gap: 5;
}
.vertical-line {
  background: #9db8df;
  width: 2px; /* Çizgi genişliği */
  height: 20px; /* Çizgi uzunluğu */
  margin-right: 1rem;
}

.clear2 {
  display: flex;
  justify-content: space-between;
}
.clearall {
  margin-right: 1rem;
  color: #385d92;
}
.map {
  margin-left: 1rem;
  color: #385d92;
}

.showContent {
  display: flex;
  width: 70vw;
  margin: 0.1rem 14rem;
}
.showContent1 {
  border: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: gray;
  padding: 0.3rem 2rem;
  margin-left: 1rem;
  color: white;
  cursor: pointer;
}
.showContent1 .active {
  background-color: blue;
}
.content1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 90vw;
  margin: auto;
  gap: 4rem;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  padding: 2rem;
  margin: 4rem auto;
  width: 72vw;
}

.card {
  width: calc(33.333% - 1rem);
  margin: auto;
  align-items: center;
  border: 1px solid gray;
  color: #556d8d;
  font-weight: 900;
}

img {
  width: 20rem;
  background-repeat: no-repeat;
}
.content2 {
  width: 68vw;
  margin: 2rem;
  margin-left: 15rem;
}
.darkblue {
  color: #071527;
  font-size: 1.2rem;
  font-weight: 700;
}
.color {
  width: 68vw;
  height: 35vh;
  background-color: #ededed;
}
.show {
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: 1px dashed #104288;
  width: 67vw;
}
.pagination {
  display: inline-block;
  width: 72vw;
  margin-left: 13rem;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid #888;
  margin: 0.5rem;
}

.pagination a.active {
  background-color: blue;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .left {
    display: none;
  }

  .right {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .down {
    margin-left: 0;
  }

  .accordion-list {
    margin-left: 0;
  }

  .accordion-list li {
    width: 24rem;
  }
  .input {
    width: 100%;
    margin: 1rem auto;
  }
  .inputs {
    position: relative;
    width: 100vw;
  }

  .search {
    position: absolute;
    top: 1;
    right: 0;
  }
  .filter1 {
    width: 100%;
    margin: 1rem 0;
  }
  .filter-slider {
    width: 100%;
    margin: 1rem 0;
    overflow: auto;
  }
  .slider {
    display: flex;
    flex-wrap: nowrap;
    padding: 1rem;
    gap: 1rem;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .filter {
    min-width: 170px;
  }
  .modal {
    display: none;
  }
  .clear {
    display: flex;
    justify-content: center;
    margin: auto;
  }
  .showContent {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80vw;
    margin: auto;
    margin-top: 2rem;
  }
  .content1 {
    gap: 6rem 10rem;
  }

  .card {
    width: 19rem;
  }
  .content2 {
    width: 90vw;
    margin: 2rem auto;
    margin-left: 1;
  }
  .darkblue {
    font-size: 1rem;
  }
  .color {
    width: 84vw;
    height: 10vh;
    background-color: #ededed;
  }
  .show {
    /* width: 100vw; */
    text-align: center;
  }
  .pagination {
    width: 100vw;
    margin: auto;
  }
  .pagination a {
    padding: 2px 6px;
    margin: 0;
  }
}
